# IntelliJ / CLion
.idea/

# Build directories
bin/
build/
out/

# Object and binary files
*.obj
*.o
*.exe
*.dll
*.lib
*.so
*.a

# Visual Studio
.vs/
*.vcxproj.user
*.vcxproj.filters
*.suo
*.user
*.cache
*.pdb
*.ipdb
*.iobj
*.idb
*.ilk
*.log

# Debug and Release folders
[Dd]ebug*/
[Rr]elease*/

# OS-specific
.DS_Store
Thumbs.db

# CMake
CMakeFiles/
CMakeCache.txt
cmake-build-*/
Makefile
CTestTestfile.cmake
install_manifest.txt
